:root {
    --dark_gray: #202020;
    --blue_accent: #246ABA;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    padding: 0;
    margin: 0;
    overscroll-behavior-y: none;
    overflow-x: hidden;
}

.color-accent {
    color: var(--blue_accent);
}

#header {
    background-color: var(--dark_gray);
    color: white;
    width: 100%;
    height: 100svh;
}

#top-bar {
    position: relative;
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0);
    width: 80%;
    height: 100px;
    border: 3px white solid;
    border-radius: 50px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

#top-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 20px;
}

#top-bar li a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 30px;
    display: block;
    padding: 14px 1svw;
}

#top-bar #link:hover {
    color: var(--blue_accent);
}

#main-heading {
    position: relative;
    left: 80px;
    top: 200px;
}

#main-heading h1 {
    position: relative;
    font-size: 90px;
    margin: 0;
}

#header #circle img {
    position: absolute;
    left: 0;
    width: 20%;
    mask-image: none;
}

#header img {
    position: absolute;
    top: 250px;
    right: 250px;
    width: 600px;
    mask-image: url(img/ressources/mask.png);
}

#fade-1 {
    background-color: rgb(233, 233, 233);
}

#event {
    width: 100%;
    height: auto;
    background-color: rgb(233, 233, 233);
    padding-bottom: 60px;
    text-align: center;
}

#event #countdown {
    position: relative;
    border: 1px solid black;
    border-radius: 60px;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 60px;

    background: rgba(231, 231, 231, 0.83);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.9px);
    -webkit-backdrop-filter: blur(14.9px);
    border: 1px solid rgba(255, 255, 255, 0.78);
}

#event #countdown h1 {
    text-align: center;
    font-size: 40px;
}

#event h1 {
    font-size: 40px;
}

#event p {
    position: relative;
    font-size: 30px;
    width: 70%;
    left: 50%;
    transform: translate(-50%, 0);
}

#info {
    width: 100%;
    height: auto;
}

#info #information {
    position: relative;
    width: 90%;
    height: 300px;
    border: 1px solid black;
    border-radius: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.83);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.9px);
    -webkit-backdrop-filter: blur(14.9px);
    border: 1px solid rgba(255, 255, 255, 0.78);
}

#info #information img {
    position: relative;
    height: 120px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
}

#info #information p {
    padding-top: 40px;
    font-size: 30px;
    text-align: center;
}

#info #information .hline {
    height: 90%;
    width: 1px;
    background-color: black;
    border-radius: 20px;
    margin: 0px 5% 0px 5%;
}

#info #articles {
    position: relative;
    width: 90%;
    height: 600px;
    border: 1px solid black;
    border-radius: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 50px;
    padding: 20px;
    padding-bottom: 120px;
    text-align: center;

    background: rgba(255, 255, 255, 0.83);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.9px);
    -webkit-backdrop-filter: blur(14.9px);
    border: 1px solid rgba(255, 255, 255, 0.78);    
}

#info #articles #link {
    text-decoration: none;
    color: black;
    border: 2px black solid;
    border-radius: 20px;
    padding: 5px 30px 5px 30px;
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: -30px;
    transition: 0.2s;
}

#info #articles #link:hover {
    color: var(--blue_accent);
    border-color: var(--blue_accent);
}

#info #articles #row {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info #articles #article {
    position: relative;
    width: 30%;
    height: 95%;
    text-align: center;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    color: rgb(224, 224, 224);
    margin: 5px;
    border-radius: 40px;
    transition: 0.3s;
}

#info #articles #article::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 40px;
    transition: 0.3s;
}

#info #articles #article:hover {
    border-radius: 20px;
    color: rgb(255, 255, 255);
    width: 31%;
    height: 96%;
}

#info #articles #article:hover::before {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

#info #articles #article h1 {
    font-size: 40px;
    bottom: -20%;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

#info #articles #article p {
    font-size: 30px;
    bottom: -30%;
    position: relative;
}

#title-line {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-line img {
    height: 150px;
}

#title-line h1 {
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 20px;
}

#title-line p {
    font-size: 30px;
    margin-top: 10px;
}

#title-line .hline {
    height: 150px;
    width: 3px;
    background-color: black;
    border-radius: 20px;
    margin: 0px 100px 0px 100px;
}

.slider-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    height: 100px;
}

.slider-track {
    display: flex;
    animation: slide-left 40s linear infinite;
}

.slider-item {
    flex: 0 0 auto;
    margin: 0 40px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-item img {
    max-width: auto;
    max-height: 80px;
}

@keyframes slide-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-70%);
    }
}


#news {
    background-color: #e0e8f1;
    height: auto;
    padding-top: 20px;
    margin-top: -10px;
}

#news #container {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    height: 600px;
    border: 3px solid black;
    border-radius: 70px;
    margin-top: 50px;

    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.9px);
    -webkit-backdrop-filter: blur(14.9px);
    border: 5px solid rgba(255, 255, 255, 0.178);
}

#news #container #top {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#news #container #top #profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

#news #container #top #profile img {
    width: 100px;
}

#news #container #top #profile h1 {
    padding-left: 40px;
    font-size: 30px;
}

#news #container #top #profile p {
    padding-left: 40px;
    font-size: 20px;
    margin-top: -20px;
}


#news #container #top #split {
    width: 4px;
    height: 60%;
    background-color: black;
    border-radius: 100px;
}

#news #container #top #heading {
    width: 70%;
}

#news #container #top #heading h1 {
    font-size: 30px;
    padding: 50px;
}

#news #container #main {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#news #container img {
    padding-left: 40px;
    width: 400px;
}

#news #container #text {
    height: 100%;
    width: 90%;
}

#news #container #text a {
    text-decoration: none;
    color: var(--blue_accent);
    font-size: 30px;
    padding: 30px;
    margin-left: 20px;
}

#news #container #text p {
    font-size: 30px;
    padding: 30px;
    margin-left: 20px;
}

#news #more {
    width: 50%;
    height: 100px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: 3px solid black;
    border-radius: 70px;
    margin-top: 50px;
    text-align: center;
    transition: 0.3s;

    background: rgba(255, 255, 255, 0.096);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.9px);
    -webkit-backdrop-filter: blur(14.9px);
    border: 1px solid rgba(255, 255, 255, 0.78);
}

#news #more:hover {
    width: 55%;

    background: rgba(30, 218, 255, 0.021);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.9px);
    -webkit-backdrop-filter: blur(14.9px);
    border: 3px solid rgba(0, 217, 255, 0.164);
}

#news a {
    text-decoration: none;
}

#news #more p {
    font-size: 30px;
    color: black;
    position: relative;
}

#fade-4 {
    background-color: #5a5a5a;
    height: 300px;
}

#contact {
    width: 100%;
    height: auto;
    background-color: #5a5a5a;
    color: white;
    padding-top: 20px;
    padding-bottom: 1px;

}

#contact .hline {
    background-color: white;
}

#contact #box {
    width: 90%;
    border: 3px solid white;
    border-radius: 80px;
    padding: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

#contact #box div {
    width: 50%;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
}

#contact #box h1 {
    font-size: 40px;
    margin-bottom: 80px;
}

#contact #box p {
    font-size: 30px;
    margin-top: -30px;
}

#contact #problem {
    width: 90%;
    padding: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

#contact #problem h1 {
    font-size: 40px;
    margin-bottom: 80px;

}

#contact #problem a {
    font-size: 40px;
    color: white;
}

#contact #problem p {
    font-size: 30px;
    margin-top: -20px;
}

#contact #socials {
    width: 90%;
    padding: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;
    font-size: 30px;
}

#contact #socials div {
    width: 50px;
}

#contact #socials img {
    width: 100px;
    height: auto;
    border-radius: 30px;
}

#fade-5 {
    background-color: #5a5a5a;
    margin-bottom: -5%;
    margin-top: -10%;
}

footer {
    padding-top: 20px;
    padding-bottom: 40px;
    height: auto;
    background-color: var(--dark_gray);
    color: white;
    text-align: center;
}

footer #copyright {
    margin-top: 100px;
    font-size: 25px;
}

footer section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer section h1 {
    font-size: 30px;
}

footer section a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

footer section div {
    width: 33%;

}

footer #circle {
    position: relative;
    width: 100%;
}

#footer #circle img {
    position: absolute;
    right: 0;
    bottom: -40px;
    width: 400px;
}


/* CSS Layout for iPad */
@media only screen and (max-width: 1200px) {
    #top-bar {
        width: 90%;
    }

    #top-bar li a {
        font-size: 25px;
    }

    #header img {
        width: 60%;
        z-index: 0;
        left: 40%;
        opacity: 80%;
        top: 25%;
    }

    #header #circle img {
        top: 30%;
    }

    #main-heading {
        z-index: 1;
        font-size: 20px;
    }

    #info #information {
        border-radius: 40px;
        padding: 0px 40px 0px 40px;
    }

    #info #information img {
        width: 80px;
        height: auto;
    }

    #info #information p {
        font-size: 25px;
    }

    #news #container {
        width: 95%;
        height: auto;
        border-radius: 40px;
        margin-top: 30px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border: 4px solid rgba(255, 255, 255, 0.178);
    }

    #news #container #top {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }

    #news #container #top #profile {
        width: 100%;
        justify-content: center;
    }

    #news #container #top #profile img {
        width: 70px;
    }

    #news #container #top #profile h1 {
        padding-left: 20px;
        font-size: 22px;
    }

    #news #container #top #profile p {
        padding-left: 20px;
        font-size: 16px;
        margin-top: -10px;
    }

    #news #container #top #split {
        display: none;
    }

    #news #container #top #heading {
        width: 90%;
        text-align: center;
    }

    #news #container #top #heading h1 {
        font-size: 22px;
        padding: 20px;
    }

    #news #container #main {
        flex-direction: column;
        height: auto;
        padding-bottom: 20px;
    }

    #news #container img {
        padding-left: 0;
        width: 80%;
        max-width: 300px;
    }

    #news #container #text {
        width: 90%;
        height: auto;
        text-align: center;
    }

    #news #container #text a,
    #news #container #text p {
        font-size: 18px;
        padding: 10px;
        margin-left: 0;
        text-align: center;
    }
}


/* CSS Layout for Phones */
@media only screen and (max-width: 750px) {

    #top-bar {
        display: none;
    }

    #header img {
        width: 120%;
        left: 50%;
        top: 300px;
        transform: translate(-50%, 0);
        z-index: 0;
        opacity: 80%;
    }

    #header #circle img {
        display: none;
    }

    #main-heading h1 {
        font-size: 50px;
        text-align: center;
        z-index: 1;
    }

    #main-heading {
        left: 0px;
        top: 100px;
    }
    

    #title-line {
        position: relative;
        width: 80%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    #title-line img {
        height: 80px;
    }

    #title-line h1 {
        font-size: 30px;
    }

    #title-line p {
        font-size: 20px;
    }

    #title-line .hline {
        margin: 0 7% 0 7%;
        height: 100px;
        width: 2px;
    }

    
    #event #countdown {
        width: 95%;
    }

    #event #countdown h1 {
        font-size: 35px;
        margin: 25px;
    }

    #event p {
        width: 80%;
        font-size: 28px;
    }

    .slider-item {
        margin: 0 12px
    }


    #info #information {
        flex-direction: column;
        height: auto;
        padding: 30px 0px 30px 0px;
        border-radius: 40px;
    }

    #info #information img {
        width: 80px;
        height: auto;
    }

    #info #information p {
        font-size: 25px;
    }

    #info #information .hline {
        width: 90%;
        height: 1px;
    }

    #info #articles {
        border-radius: 40px;

        height: auto;
        width: 80%;
    }

    #info #articles #row {
        flex-direction: column;
        height: auto;
    }

    #info #articles #article {
        width: 98%;
        height: 200px;
        margin: 10px 0;
    }

    #info #articles #article:hover {
        width: 98%;
        height: 305px;
    }

    #info #articles #article h1 {
        bottom: -10%;
    }

    #info #articles #article p {
        bottom: -20%;
        font-size: 20px;
    }

    #info #articles #link {
        font-size: 25px;
    }

    #news {
        min-height: 400px;
    }

    #news #more {
        width: 90%;
    }

    #news #more:hover {
        width: 95%;
    }

    #news #more p {
        font-size: 25px;
        margin-top: 20px;
    }

    #fade-4 {
        height: 100px;
    }

    #contact #box {
        width: 70%;
        flex-direction: column;
        height: auto;
        border-radius: 50px;
    }

    #contact #box div {
        width: 100%;
        text-align: center;
    }

    #contact #box h1 {
        margin-bottom: 70px;
        font-size: 35px;
    }

    #contact #box p {
        font-size: 30px;
        padding-bottom: 20px;
    }

    #contact #problem h1 {
        font-size: 30px;
    }

    #contact #problem a {
        font-size: 30px;
    }

    #contact #socials img {
        width: 80px;
    }

    #contact #socials {
        font-size: 20px;
        width: 76%;
    }

    footer section {
        flex-direction: column;
        height: auto;
    }

    footer section div {
        width: 100%;
    }

    footer section h1 {
        font-size: 25px;
    }

    footer section a {
        font-size: 25px;
    }

    footer section p {
        font-size: 25px;
    }

}